<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

  
 <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
    <property name="url" value="jdbc:mysql://localhost:3306/sportclubsystem" />
    <property name="username" value="root" />
    <property name="password" value="root" />
  </bean>

  <!-- Hibernate 4 XML SessionFactory Bean definition-->
	<bean id="hibernate4SessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.ugurcanlacin.sportclubsystem.model.User</value>
				<value>com.ugurcanlacin.sportclubsystem.model.Role</value>
				<value>com.ugurcanlacin.sportclubsystem.model.Workout</value>
				<value>com.ugurcanlacin.sportclubsystem.model.Diet</value>
				<value>com.ugurcanlacin.sportclubsystem.model.PersonalDetails</value>
			</list>
		</property>
	
		<property name="hibernateProperties">
		 <props>
       		 <prop 
		         key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
		        <prop key="hibernate.show_sql">true</prop>
		       
    	 	 </props>
		</property>
	</bean> 
	<tx:annotation-driven/>
	
	<bean id = "transactionManager" class = "org.springframework.orm.hibernate4.HibernateTransactionManager">
   		 <property name = "sessionFactory" ref = "hibernate4SessionFactory" />
	</bean>
	<bean id="app" class="com.ugurcanlacin.sportclubsystem.app">
		<property name="sessionFactory" ref="hibernate4SessionFactory" />
	</bean>
	<bean id="userDao" class="com.ugurcanlacin.sportclubsystem.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="hibernate4SessionFactory" />
	</bean>
	<bean id="roleDao" class="com.ugurcanlacin.sportclubsystem.dao.impl.RoleDaoImpl">
		<property name="sessionFactory" ref="hibernate4SessionFactory" />
	</bean>
	<bean id="dietDao" class="com.ugurcanlacin.sportclubsystem.dao.impl.DietDaoImpl">
		<property name="sessionFactory" ref="hibernate4SessionFactory" />
	</bean>
	<bean id="workoutDao" class="com.ugurcanlacin.sportclubsystem.dao.impl.WorkoutDaoImpl">
		<property name="sessionFactory" ref="hibernate4SessionFactory" />
	</bean>
	<bean id="personalDetailsDao" class="com.ugurcanlacin.sportclubsystem.dao.impl.PersonalDetailsDaoImpl">
		<property name="sessionFactory" ref="hibernate4SessionFactory" />
	</bean>

	<bean id="userService" class="com.ugurcanlacin.sportclubsystem.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>
	<bean id="roleService" class="com.ugurcanlacin.sportclubsystem.service.impl.RoleServiceImpl">
		<property name="roleDao" ref="roleDao" />
	</bean>

	<bean id="userDetailsService" class="com.ugurcanlacin.sportclubsystem.application.impl.UserDetailsServiceImpl">
		<property name="userService" ref="userService" />
		<property name="roleService" ref="roleService" />
	</bean>
</beans>
