<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/sportclubsystem" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- Hibernate 4 XML SessionFactory Bean definition -->
	<bean id="hibernate4SessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.tuprime.entities.User</value>
				<value>com.tuprime.entities.Role</value>
				<value>com.tuprime.entities.Workout</value>
				<value>com.tuprime.entities.Diet</value>
				<value>com.tuprime.entities.PersonalDetails</value>
				<value>com.tuprime.entities.Exercise</value>
				<value>com.tuprime.entities.Admin</value>
				<value>com.tuprime.entities.UserWorkout</value>
				<value>com.tuprime.entities.UserDiet</value>
				<value>com.tuprime.entities.Login</value>
				<value>com.tuprime.entities.Type</value>
				<value>com.tuprime.entities.Muscle</value>
				<value>com.tuprime.entities.Level</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>

			</props>
		</property>
	</bean>
	<context:component-scan base-package="com.tuprime.web.*" />
	<context:component-scan base-package="com.tuprime.business.*" />
	<context:component-scan base-package="com.tuprime.dao.*" />
	<context:component-scan base-package="com.tuprime.security.*" />
	<tx:annotation-driven />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="hibernate4SessionFactory" />
	</bean>

	<!-- DAO START -->
	<bean id="userDao" class="com.tuprime.dao.user.UserDaoImpl">
		<property name="sessionFactory" ref="hibernate4SessionFactory" />
	</bean>
	<bean id="roleDao" class="com.tuprime.dao.role.RoleDaoImpl">
		<property name="sessionFactory" ref="hibernate4SessionFactory" />
	</bean>
	<bean id="adminDao" class="com.tuprime.dao.admin.AdminDaoImpl">
		<property name="sessionFactory" ref="hibernate4SessionFactory" />
	</bean>
	<bean id="personalDetailsDao" class="com.tuprime.dao.personaldetails.PersonalDetailsDaoImpl">
		<property name="sessionFactory" ref="hibernate4SessionFactory" />
	</bean>
	<bean id="workoutDao" class="com.tuprime.dao.workout.WorkoutDaoImpl">
		<property name="sessionFactory" ref="hibernate4SessionFactory" />
	</bean>
	<bean id="dietDao" class="com.tuprime.dao.diet.DietDaoImpl">
		<property name="sessionFactory" ref="hibernate4SessionFactory" />
	</bean>
	<bean id="userDietDao" class="com.tuprime.dao.userdiet.UserDietDaoImpl">
		<property name="sessionFactory" ref="hibernate4SessionFactory" />
	</bean>
	<bean id="userWorkoutDao" class="com.tuprime.dao.userworkout.UserWorkoutDaoImpl">
		<property name="sessionFactory" ref="hibernate4SessionFactory" />
	</bean>
	<bean id="exerciseDao" class="com.tuprime.dao.exercise.ExerciseDaoImpl">
		<property name="sessionFactory" ref="hibernate4SessionFactory" />
	</bean>
	<!-- DAO END -->


	<!-- SERVICE START -->

	<bean id="adminService" class="com.tuprime.business.admin.AdminServiceImpl">
		<property name="adminDao" ref="adminDao" />
	</bean>
	<bean id="userService" class="com.tuprime.business.user.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>
	<bean id="roleService" class="com.tuprime.business.role.RoleServiceImpl">
		<property name="roleDao" ref="roleDao" />
	</bean>
	<bean id="dietService" class="com.tuprime.business.diet.DietServiceImpl">
		<property name="dietDao" ref="dietDao" />
	</bean>
	<bean id="workoutService" class="com.tuprime.business.workout.WorkoutServiceImpl">
		<property name="workoutDao" ref="workoutDao" />
	</bean>
	<bean id="personalDetailsService"
		class="com.tuprime.business.personaldetails.PersonalDetailsServiceImpl">
		<property name="personalDetailsDao" ref="personalDetailsDao" />
	</bean>
	<bean id="userDietService"
		class="com.tuprime.business.userdiet.UserDietServiceImpl">
		<property name="userDietDao" ref="userDietDao" />
	</bean>
	<bean id="userWorkoutService"
		class="com.tuprime.business.userworkout.UserWorkoutServiceImpl">
		<property name="userWorkoutDao" ref="userWorkoutDao" />
	</bean>
	<bean id="exerciseService"
		class="com.tuprime.business.exercise.ExerciseServiceImpl">
		<property name="exerciseDao" ref="exerciseDao" />
	</bean>
	<bean id="userManagement" class="com.tuprime.business.user.UserManagementImpl">
		<property name="userService" ref="userService" />
		<property name="roleService" ref="roleService" />
	</bean>
	<!-- SERVICE END -->


	<!-- SECURITY START -->
	<bean id="userDetailsService" class="com.tuprime.security.UserDetailsServiceImpl">
		<property name="userService" ref="userService" />
		<property name="roleService" ref="roleService" />
	</bean>

	<bean id="adminDetailsService" class="com.tuprime.security.AdminDetailsServiceImpl">
		<property name="adminService" ref="adminService" />
		<property name="roleService" ref="roleService" />
	</bean>

	<bean id="authenticationService" class="com.tuprime.security.AuthenticationServiceImpl">
	</bean>
	<!-- SECURITY END -->

</beans>
